@{
    ViewBag.Title = "Home Page";
}
<div ng-controller="FantasyFootballCtrl">
    <div id="settings">
        <div class="form-group">
            <label for="PassYards">Passing Yards</label>
            <input name="PassYards" type="number" ng-model="settings.passYards" ng-change="refresh()" />
        </div>
    </div>

    <div id="players">
        <div kendo-tab-strip k-on-select="tabChange(kendoEvent)">
            <ul>
                <li class="k-state-active" data-position="0">QB</li>
                <li data-position="1">RB</li>
            </ul>
            
            <div id="qb">
                <div kendo-grid="qbGrid" k-options="qbGridOptions"></div> 
            </div>
            
            <div id="rb">
                <div kendo-grid="rbGrid" k-options="rbGridOptions"></div>
            </div>
        </div>
        
    </div>
</div>

